<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>19/07/01 17:41:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLoginAdmin.testLoginAdmin()[pri:0, instance:pages.LoginAdmin.TestLoginAdmin@10bdf5e5]">testLoginAdmin</td> 
  <td>main@1518864111</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>19/07/01 17:42:01</td>   <td>44896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAdminMenu.testNavigateToPendingSOWWorkHead()[pri:21, instance:pages.AdminMainMenu.TestAdminMenu@21213b92]">testNavigateToPendingSOWWorkHead</td> 
  <td>main@1518864111</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>19/07/01 17:42:13</td>   <td>56698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchSoWWorkAhead.searchByProposalNo()[pri:5, instance:pages.SOWDetails.TestSearchSoWWorkAhead@5ec0a365]">searchByProposalNo</td> 
  <td>main@1518864111</td>   <td></td> </tr>
<tr bgcolor="83bb8e">  <td>19/07/01 17:42:31</td>   <td>75144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestApproveSoWWorkAhead.testSOWOpportunityDetails()[pri:0, instance:pages.SOWDetails.TestApproveSoWWorkAhead@5abca1e0]">testSOWOpportunityDetails</td> 
  <td>main@1518864111</td>   <td></td> </tr>
</table>
